<!DOCTYPE html>
<html lang="pt-BR">
<link rel="stylesheet" href="../css/style.css" />
<nav class="navbar">
  <div class="container-navbar">
    <a href="/" class="logo">Gerenciador de Tarefas</a>
    <ul class="nav-links">
      <li><a href="/">Início</a></li>
      <li><a href="/about">Sobre</a></li>
      <li><a href="/features">Recursos</a></li>
      <li><a href="/tasks">Tarefas</a></li>
      <li><a href="/login">Entrar</a></li>
      <li><a href="/register">Registrar</a></li>
    </ul>
  </div>
</nav>